#semester-container {
  width: 100px;
  height: 200px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px;
}

.mod-slot {
  width: 85px;
  height: 30px;
  margin: 3px;
  border: 1px solid #aaaaaa;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}
