#year-parent-container {
  width: 360px;
  height: 250px;
  background-color: #73a08f;
  margin: 2px 10px;
  padding: -5px;
  border-radius: 12px;
}

#year-parent-container > p {
  font-family: kopius, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 2px;
  color: #273530;
}

#year-container {
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 12px;
}
