p {
  padding: 10px;
}

.module-collection-container > p {
  margin-bottom: -5px;
  font-size: 20px;
  font-weight: 700;
}

.module-collection-container {
  background-color: #dde4e9;
  margin: 10px;
  border-radius: 10px;
}

.module-collection-grid {
  padding-bottom: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

#foundation-modules {
  width: 550px;
  height: 100px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 45px);
}

#itp-modules {
  width: 550px;
  height: 60px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(1, 45px);
}

#mns-modules {
  width: 550px;
  height: 60px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(1, 45px);
}
