@import url("https://use.typekit.net/uif4lwi.css");

h1 {
  font-family: rosella-inline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #ffcb9b;
  background-color: #2a4439;
  border-radius: 12px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.App {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.mod-slot {
  width: 85px;
  height: 30px;
  margin: 3px;
  border: 1px solid #31423c;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

body {
  background-color: #106466;
}

.module-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80px;
  height: 25px;
  border-radius: 6px;
}
